*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh
}

.calculator{
  flex: 0 0 95%;
}

.screen {
  width: 100%;
  font-size: 7rem;
  padding: 0.5rem;
  color: white;
  background: #292938;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s linear 0s;
}

.btn{

  flex: 0 0 25%;
  border: 1px solid black;
  border-image: initial;
  font-size: 3.5rem;
  padding: 0.25rem 0px;
  color: white;
}

.btn-yellow{
  color: #212529;
  background-color: #ffc107;
  border-color: black;
}

.btn-yellow:hover{
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-gray{
  color: #fff;
  background-color: #6c757d;
  border-color: black;
}

.btn-gray:hover{
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-danger{
  color: #fff;
  background-color: #dc3545;
  border-color: black;
}
.btn-danger:hover{
  color: #fff;
  background-color: #c82333;
  border-color: black;
}